{{!-- <div class="mt-4">
    <h3>Đăng sản phẩm</h3>

    <form method="POST" action="/products/store">
        <div class="product__create-name">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">            
        </div>
        <div class="product__create-description">
            <label for="description">Mô tả sản phẩm</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="product__create-img">
            <label for="image">Hình ảnh sản phẩm</label>
            <input type="text" class="form-control" id="image" name="image">            
        </div>
        <div class="product__create-pricecurrent">
            <label for="pricecurrent">Giá hiện hành</label>
            <input type="text" class="form-control" id="pricecurrent" name="pricecurrent">            
        </div>
        <div class="product__create-priceold">
            <label for="priceold">Giá mặc định</label>
            <input type="text" class="form-control" id="priceold" name="priceold">            
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>

</div> --}}

<div class="gird">
    <div class="product__create">
        <a class="product__create-post">Đăng sản phẩm</a>

    <form method="POST" action="/products/store">
        <div class="product__create-name">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">            
        </div>
        <div class="product__create-description">
            <label for="description">Mô tả sản phẩm</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="product__create-img">
            <label for="image">Hình ảnh sản phẩm</label>
            <input type="text" class="form-control" id="image" name="image">            
        </div>
        <div class="product__create-pricecurrent">
            <label for="pricecurrent">Giá hiện hành</label>
            <input type="text" class="form-control" id="pricecurrent" name="pricecurrent">            
        </div>
        <div class="product__create-priceold">
            <label for="priceold">Giá mặc định</label>
            <input type="text" class="form-control" id="priceold" name="priceold">            
        </div>

        <div class="product__create-additem">
            <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
        </div>
    </form>
    </div>
</div>





