            <div class="gird">
                <div class="gird__row">
                    <div class="gird__column-2-4">
                        <h3 class="footer__heading">Hỗ trợ khách hàng</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Trung tâm bảo hành</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Thanh toán và giao hàng</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Dịch vụ sửa chữa và bảo trì</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Khách hàng VIP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird__column-2-4">
                        <h3 class="footer__heading">Chính sách Mua hàng và Bảo hành</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Chính sách Bảo mật Thông tin</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Chính sách bảo hành</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Chính sách đổi trả và hoàn tiền</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Chính sách trả góp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird__column-2-4">
                        <h3 class="footer__heading">Thông tin Sugar Store</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Giới thiệu Sugar Store</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Thông tin liên hệ</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Tin công nghệ</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Hệ thống Showroom</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird__column-2-4">
                        <h3 class="footer__heading">Phương thức thanh toán</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    <i class="footer__list-item-icon fas fa-hand-holding-usd"></i>
                                    Tiền mặt
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    <i class="footer__list-item-icon far fa-clock"></i>
                                    Trả góp
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    <i class="footer__list-item-icon fas fa-qrcode"></i>
                                    QR Code
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="gird__column-2-4">
                        <h3 class="footer__heading">Email liên hệ</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Hỗ trợ khách hàng: cskh@sugar.vn</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Liên hệ báo giá: baogia@sugar.vn</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Hợp tác phát triển: hoptac@sugar.vn</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Email: ngminhduong.it2902@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>    
            </div>

            <div class="footer__bottom">
                <div class="gird">
                        <p class="footer__text">Đại học Cần Thơ - B1809568</p>
                </div>
            </div>