

<div class="gird">
    <h1>Đang chuẩn bị làm</h1>
     <div class="header__search">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Nhập tên sản phẩm cần tìm">

                            
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </div>
</div>
